{% extends "flatlease/template.html" %}
{% load staticfiles %}
{% block meta %}
{% endblock meta %}
{% block menu_name %}
    Калькулятор
{% endblock menu_name %}
{% block body %}

    <!--Calculator-->

    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid center-content">
                <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--10-col">
                    <div class="mdl-card__title">
                        <h1 class="mdl-card__title-text">Расчет кредита</h1>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Заполните все поля
                    </div>
                    <form id="calcform">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="price" />
                                    <label class="mdl-textfield__label" for="price">Стоимость объекта недвижимости</label>
                                    <span class="mdl-textfield__error">Введите цифры</span>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="first-pay" />
                                    <label class="mdl-textfield__label" for="first-pay">Первоначальный взнос</label>
                                    <span class="mdl-textfield__error">Введите цифры</span>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="payment" />
                                    <label class="mdl-textfield__label" for="payment">Ежемесячный взнос</label>
                                    <span class="mdl-textfield__error">Введите цифры</span>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col">
                                <h5>Итого срок кредитования:</h5>
                                <h3>
                                    <span class="total"></span>
                                </h3>
                            </div>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="button" id="calculate">
                                Рассчитать
                            </button>
                            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="reset">
                                Сбросить
                            </button>
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect linktoadd" href="{% url 'addition' %}">
                                Перейти к оформлению
                            </a>
                        </div>
                    </form>
                </div>

<!--Table monthly payments-->

                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--8-col">
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Платёж</th>
                        <th>Остаток</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="today"></td>
                            <td class="firstpay"></td>
                            <td class="residue"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock body %}
