{% extends "flatlease/template.html" %}
{% load staticfiles %}
{% block meta %}
{% endblock meta %}
{% block menu_name %}
    Калькулятор
{% endblock menu_name %}
{% block body %}
        <div class="container">
            <div class="card col l10">
                <div class="card-content">
                    <h1 class="card-title">Расчет платежей</h1>
                    <span class="">
                        Заполните все поля
                    </span>
                    <form id="calcform" class="row">
                        <div class="col m6">
                            <div class="input-field">
                                <input type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="price" />
                                <label for="price" data-error="Введите цифры">Стоимость объекта недвижимости</label>
                            </div>
                            <div class="input-field">
                                <input type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="first-pay" />
                                <label for="first-pay" data-error="Введите цифры">Первоначальный взнос</label>
                            </div>
                            <div class="input-field">
                                <input type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="payment" />
                                <label for="payment" data-error="Введите цифры">Ежемесячный взнос</label>
                            </div>
                        </div>
                        <div class="col m6 center">
                            <h5>Итого срок погашения:</h5>
                            <h3>
                                <span class="total"></span>
                            </h3>
                        </div>
                    </form>
                </div>
                <div class="card-action">
                    <button class="btn waves-effect waves-light" type="button" id="calculate">
                        Рассчитать
                    </button>
                    <a class="btn waves-effect waves-light white-text" href="{% url 'calculator' %}">
                        Сбросить
                    </a>
                    <a class="btn-flat waves-effect waves-light right black-text" href="{% url 'addition' %}">
                        Перейти к оформлению
                    </a>
                </div>
            </div>
        <!--Table monthly payments-->
            <table class="col m12 card bordered centered">
                <thead>
                <tr>
                    <th data-field="date">Дата</th>
                    <th data-field="payment">Платёж</th>
                    <th data-field="residue">Остаток</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="today"></td>
                        <td class="firstpay"></td>
                        <td class="residue"></td>
                    </tr>
                </tbody>
            </table>
            </div>
{% endblock body %}
