{% extends "flatlease/template.html" %}
{% load staticfiles %}
{% block meta %}
{% endblock meta %}
{% block menu_name %}
    {{ client.last_name }} {{ client.name }} {{ client.second_name }}
{% endblock menu_name %}
{% block body %}
    <div class="row">
        <div class="col s12">

            <!-- Фиксированная кнопка добавления всего -->
            <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 40px;">
                <a class="btn-floating btn-large red lighten-1">
                    <i class="material-icons">add</i>
                </a>
                <ul>
                    <li>
                        <a class="btn-floating red accent-1 tooltipped modal-trigger"
                           data-position="top" data-delay="50" data-tooltip="Добавить родственника" href="#relatives-modal">
                            <i class="material-icons">supervisor_account</i>
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating red lighten-3 tooltipped modal-trigger"
                           data-position="top" data-delay="50" data-tooltip="Добавить документ" href="#docs-modal">
                            <i class="material-icons">description</i>
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating red lighten-2 tooltipped modal-trigger"
                           data-position="top" data-delay="50" data-tooltip="Добавить недвижимость" href="#property-modal">
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating red accent-2 tooltipped modal-trigger"
                           data-position="top" data-delay="50" data-tooltip="Добавить платеж" href="#payment-modal">
                            <i class="material-icons">attach_money</i>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Вкладки -->
            <ul class="tabs">
                <li class="tab col s3"><a href="#person-info">Анкета</a></li>
                <li class="tab col s3"><a href="#relatives">Родственники</a></li>
                <li class="tab col s3"><a href="#docs">Документы</a></li>
                <li class="tab col s3"><a href="#property">Недвижимость</a></li>
                <li class="tab col s3"><a href="#payments">Платежи</a></li>
            </ul>

            <!-- Начало анкеты -->
            <div class="col s12" id="person-info">
                <div class="card">
                    <div class="card-content">
                        <h1 class="card-title">
                            Личные данные
                        </h1>
                        <div class="row">
                            <div class="col l4 m3 s12">
                                <img src="{{ client.photo.url }}" width="100%" height="auto">
                            </div>
                            <table class="col l8 m9 s12">
                                <thead>
                                <tr>
                                    <th>Дата регистрации</th>
                                    <th>{{ client.pub_date }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>День рождения</td>
                                    <td>{{ client.birthday }}</td>
                                </tr>
                                <tr>
                                    <td>Адрес</td>
                                    <td>{{ client.residence }}</td>
                                </tr>
                                <tr>
                                    <td>Телефон</td>
                                    <td>{{ client.phone }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{ client.email }}</td>
                                </tr>
                                <tr>
                                    <td>Баланс</td>
                                    <td>{{ client.balance }}</td>
                                </tr>
                                <tr>
                                    <td>Должник</td>
                                    <td>{{ client.debt }}</td>
                                </tr>
                                <tr>
                                    <td>Наличие договора</td>
                                    <td>{{ client.future }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-action">
                        <a class="btn waves-effect waves-light white-text"
                           href="{% url 'update' client.id %}">Редактировать</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h1 class="card-title">
                            Паспорт
                        </h1>
                        <div class="row">
                            <div class="col l8 m9 s12">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Паспорт номер</th>
                                        <th>{{ client.passport.number }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Дата выдачи</td>
                                        <td>{{ client.passport.date }}</td>
                                    </tr>
                                    <tr>
                                        <td>Место рождения</td>
                                        <td>{{ client.passport.birthplace }}</td>
                                    </tr>
                                    <tr>
                                        <td>Регистрация</td>
                                        <td>{{ client.passport.registration }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p>Выдан:</p>
                                {{ client.passport.whom }}
                            </div>
                            <div class="col l4 m3 s12">
                                <img src="{{ client.passport.image.url }}" width="100%" height="auto">
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a class="modal-trigger btn waves-effect waves-light white-text"
                           href="#passport-modal">Редактировать</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h1 class="card-title">
                            Супруг(а)
                        </h1>
                        <div class="row">
                            <table class="col l8 m9 s12">
                                <thead>
                                <tr>
                                    <th>ФИО</th>
                                    <th>
                                        {{ client.spouse.last_name }}
                                        {{ client.spouse.name }}
                                        {{ client.spouse.second_name }}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Дата рождения</td>
                                    <td>{{ client.spouse.birthdate }}</td>
                                </tr>
                                <tr>
                                    <td>Телефон</td>
                                    <td>{{ client.spouse.phone }}</td>
                                </tr>
                                <tr>
                                    <td>Адрес</td>
                                    <td>{{ client.spouse.residence }}</td>
                                </tr>
                                <tr>
                                    <td>Место работы</td>
                                    <td>{{ client.spouse.workplace }}</td>
                                </tr>
                                <tr>
                                    <td>Должность</td>
                                    <td>{{ client.spouse.work_position }}</td>
                                </tr>
                                <tr>
                                    <td>Доход</td>
                                    <td>{{ client.spouse.salary }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-action">
                        <a class="modal-trigger btn waves-effect waves-light white-text"
                           href="#spouse-modal">Редактировать</a>
                    </div>
                </div>
            </div>
            <!-- Конец анкеты -->

            <!-- Начало родственников -->
            <div class="col s12" id="relatives">
                <div class="container">
                    <div class="row">
                        <div class="card col l4 m4 s12">
                            <div class="card-content">
                                <h3 class="card-title">
                                    ФИО
                                </h3>
                                степень родства<br>
                                дата рождения<br>
                                телефон<br>
                                адрес<br>
                            </div>
                            <div class="card-action center">
                                <a class="btn waves-effect waves-light white-text" href="#">Редактировать</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Конец родственников -->

            <!-- Начало док-тов -->
            <div class="col s12" id="docs">
                <div class="container">
                    <table class="col s12 highlight">
                        <thead>
                        <tr>
                            <th data-field="type">Тип документа</th>
                            <th data-field="date">Дата публикации</th>
                            <th data-field="download">Скачать</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for document in documents %}
                            <tr>
                                <td>{{ document.type }}</td>
                                <td>{{ document.pub_date }}</td>
                                <td><a href="{{ document.document.url }}"><i class="material-icons">file_download</i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Конец док-тов -->

            <!-- Начало недвижимости -->
            <div class="col s12" id="property">
                <div class="container">
                    <div class="row">
                        <table class="col s12 highlight">
                            <thead>
                            <tr>
                                <th>Адрес</th>
                                <th>Стоимость</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in fixed_property %}
                                <tr>
                                    <td>{{ item.location }}</td>
                                    <td>{{ item.cost }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Конец недвижимости -->

            <!-- Начало платежей -->
            <div class="col s12" id="payments">
                <div class="container">
                    <div class="row">
                        <table class="col s12 highlight">
                            <thead>
                            <tr>
                                <th>Номер</th>
                                <th>Дата</th>
                                <th>Сумма</th>
                                <th>Тип</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for transaction in transactions %}
                                <tr>
                                    <td>{{ transaction.id }}</td>
                                    <td>{{ transaction.pub_date }}</td>
                                    <td>{{ transaction.count }}</td>
                                    <td>{{ transaction.type }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Конец платежей -->
        </div>

        <!-- Модальное окно платежа -->
        <div id="payment-modal" class="modal">
            <form action="{% url 'client_page' client.id %}" role="form" method="post">
                <div class="modal-content">
                    <h5 class="center">Добавление платежа</h5>
                    {% csrf_token %}
                    {{ transaction_form.non_field_errors }}
                    {% for field in transaction_form %}
                        <div class="fieldWrapper">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button class="btn waves-effect waves-light" type="submit">Сохранить</button>
                </div>
            </form>
        </div>

        <!-- Модальное окно недвижимости -->
        <div id="property-modal" class="modal">
            <form action="{% url 'client_page' client.id %}" role="form" method="post">
                <div class="modal-content">
                    <h5>Добавление недвижимости</h5>
                    {% csrf_token %}
                    {{ property_form.non_field_errors }}
                    {% for field in property_form %}
                        <div class="fieldWrapper input-field">
                            {{ field }}
                            {{ field.label_tag }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button class="btn waves-effect waves-light" type="submit">Сохранить</button>
                </div>
            </form>
        </div>

        <!-- Модальное окно документов -->
        <div id="docs-modal" class="modal">
            <form action="{% url 'client_page' client.id %}" role="form" method="post" enctype="multipart/form-data">
                <div class="modal-content">
                    <h5>Добавление документа</h5>
                    {% csrf_token %}
                    {{ document_form.non_field_errors }}
                    {% for field in document_form %}
                        <div class="fieldWrapper input-field">
                            {{ field }}
                            {{ field.label_tag }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button class="btn waves-effect waves-light" type="submit">Сохранить</button>
                </div>
            </form>
        </div>

        <!-- Модальное окно родственников -->
        <div id="relatives-modal" class="modal modal-fixed-footer">
            <form action="{% url 'client_page' client.id %}" role="form" method="post">
                <div class="modal-content">
                    <h5>Добавление родственника</h5>
                    {% csrf_token %}
                    {{ relative_form.non_field_errors }}
                    {% for field in relative_form %}
                        <div class="fieldWrapper input-field">
                            {{ field }}
                            {{ field.label_tag }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button class="btn waves-effect waves-light" type="submit">Сохранить</button>
                </div>
            </form>
        </div>

        <!-- Модальное окно паспорта -->
        <div id="passport-modal" class="modal modal-fixed-footer">
            <form action="{% url 'client_page' client.id %}" role="form" method="post" enctype="multipart/form-data">
                <div class="modal-content">
                    <h5>Редактирование паспортных данных</h5>
                    {% csrf_token %}
                    {{ passport_form.non_field_errors }}
                    {% for field in passport_form %}
                        <div class="fieldWrapper input-field">
                            {{ field }}
                            {{ field.label_tag }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button class="btn waves-effect waves-light" type="submit">Сохранить</button>
                </div>
            </form>
        </div>

        <!-- Модальное окно супруга -->
        <div id="spouse-modal" class="modal modal-fixed-footer">
            <form action="{% url 'client_page' client.id %}" role="form" method="post">
                <div class="modal-content">
                    <h5>Редактирование данных о супруге</h5>
                    {% csrf_token %}
                    {{ spouse_form.non_field_errors }}
                    {% for field in spouse_form %}
                        <div class="fieldWrapper input-field">
                            {{ field }}
                            {{ field.label_tag }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button class="btn waves-effect waves-light" type="submit">Сохранить</button>
                </div>
            </form>
        </div>

    </div>
{% endblock body %}