{% extends "flatlease/template.html" %}
{% load staticfiles %}
{% block meta %}
{% endblock meta %}
{% block menu_name %}
    Вход
{% endblock menu_name %}
{% block body %}
        <div class="container">
            <div class="row">
                <div class="col l5 m7 offset-m3 offset-l3 s12 card center">
                    <form action="{% url 'login' %}" role="form" method="post">
                        {% csrf_token %}
                        <div class="card-title">
                            Вход
                        </div>
                        <div class="card-content">
                            <div class="fieldWrapper input-field">
                                <label for="{{ login_form.username.id_for_label }}">Логин</label>
                                {{ login_form.username }}
                            </div>
                            <div class="fieldWrapper input-field">
                                <label for="{{ login_form.password.id_for_label }}">Пароль</label>
                                {{ login_form.password }}
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn waves-effect waves-light" type="submit">Войти</button>
                        </div>
                    </form>
                </div>
                <div class="col m12">
                    <h3>{{ msg }}</h3>
                </div>
            </div>
        </div>
{% endblock body %}