{% extends "flatlease/template.html" %}
{% load staticfiles %}
{% block meta %}
{% endblock meta %}
{% block menu_name %}
    Поиск
{% endblock menu_name %}
{% block body %}
    <div class="container">
        <div class="row">
            <form action="{% url 'search' %}" role="form" method="get">
                {{ form.non_field_errors }}
                <div class="col l4 m4 s10">
                    {{ form.search }}
                    {{ form.search.errors }}
                </div>
                <div class="col l1 m1 s2">
                    <button class="btn-floating waves-effect waves-light black-text tooltipped search-btn" data-tooltip="Искать" type="submit">
                        <i class="material-icons">search</i>
                    </button>
                </div>
                <div class="col l2 m2 s12">
                    <p>
                        {{ form.debtor }}
                        {{ form.debtor.label_tag }}
                        {{ form.debtor.errors }}
                    </p>
                </div>
                <div class="col l2 m2 s12">
                    <p>
                        {{ form.my_clients }}
                        {{ form.my_clients.label_tag }}
                        {{ form.my_clients.errors }}
                    </p>
                </div>
                <div class="col l2 m2 s12">
                    <p>
                        {{ form.potential }}
                        {{ form.potential.label_tag }}
                        {{ form.potential.errors }}
                    </p>
                </div>
                <!-- Switch -->
                <div class="switch">
                    <label>
                        <i class="small material-icons">view_stream</i>
                        {{ form.view }}
                        <span class="lever"></span>
                        <i class="small material-icons">dashboard</i>
                    </label>
                </div>
            </form>
        </div>
        {% if form.view.value %}
        <div class="card_view row">
            {% for client in clients %}
                <div class="card col s12 m6 l4">
                    <a class="tooltipped right teal-text text-lighten-2 top-icon" data-position="bottom" data-delay="50" data-tooltip="Редактировать профиль" href="{% url 'update' client.id %}">
                        <i class="material-icons small" id="edit_{{ client.id }}">mode_edit</i>
                    </a>

                    <!-- Задолженности и потенциальность-->
                    {% if client.is_potential %}
                        <a class="tooltipped potential green-text text-darken-1 left top-icon" data-position="bottom" data-delay="50" data-tooltip="Потенциальный клиент">
                            <i class="material-icons small">help_outline</i>
                        </a>
                    {% elif client.debt %}
                        <a class="tooltipped warning yellow-text text-darken-3 left top-icon" data-position="bottom" data-delay="50" data-tooltip="Задолженность за 1 месяц">
                            <i class="material-icons small">warning</i>
                        </a>
                    {% elif client.debt %}
                        <a class="tooltipped debtor red-text text-darken-1 left top-icon" data-position="bottom" data-delay="50" data-tooltip="Задолженность за 2 или более месяцев">
                            <i class="material-icons small">error</i>
                        </a>
                    {% endif %}
                    <div class="card-content">
                        <h3 class="card-title center">{{ client.last_name }}<br>{{ client.name }} {{ client.second_name }}</h3>
                        <p>
                            Дата регистрации: {{ client.pub_date }} <br>
                            День рождения: {{ client.birthday }} <br>
                            Адрес: {{ client.residence }} <br>
                            Телефон: {{ client.phone }} <br>
                            Депозит: {{ client.balance }}
                        </p>
                    </div>
                    <div class="card-action">
                        <a class="btn white-text" href="{% url 'client_page' client.id %}">Открыть</a>
                        <a class="tooltipped green-text right" data-position="bottom" data-delay="50" data-tooltip="Добавить платеж" href="{% url 'client_page' client.id %}#payments">
                            <i class="material-icons small" id="payment_{{ client.id }}">local_atm</i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="table_view row">
            <div class="table col l12">
                <table class="bordered striped highlight">
                    <thead>
                    <tr>
                        <th>Статус</th>
                        <th data-field="id">ID</th>
                        <th data-field="date">Дата публикации</th>
                        <th data-field="name">ФИО</th>
                        <th data-field="phone">Телефон</th>
                        <th>Управление</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                        <tr>
                            <td>
                                <!-- Задолженности и потенциальность-->
                                {% if client.is_potential %}
                                    <a class="tooltipped potential green-text text-darken-1 left top-icon" data-position="bottom" data-delay="50" data-tooltip="Потенциальный клиент">
                                        <i class="material-icons small">help_outline</i>
                                    </a>
                                {% elif client.debt %}
                                    <a class="tooltipped warning yellow-text text-darken-3 left top-icon" data-position="bottom" data-delay="50" data-tooltip="Задолженность за 1 месяц">
                                        <i class="material-icons small">warning</i>
                                    </a>
                                {% elif client.debt %}
                                    <a class="tooltipped debtor red-text text-darken-1 left top-icon" data-position="bottom" data-delay="50" data-tooltip="Задолженность за 2 или более месяцев">
                                        <i class="material-icons small">error</i>
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ client.id }}</td>
                            <td>{{ client.pub_date }}</td>
                            <td>{{ client.last_name }} {{ client.name }} {{ client.second_name }}</td>
                            <td>{{ client.phone }}</td>
                            <td>
                                <a class="btn white-text" href="{% url 'client_page' client.id %}">Открыть</a>
                                <a class="tooltipped green-text right" data-position="bottom" data-delay="50" data-tooltip="Добавить платеж" href="{% url 'client_page' client.id %}#payments">
                                    <i class="material-icons small" id="payment_{{ client.id }}">local_atm</i>
                                </a>
                                <a class="tooltipped right teal-text text-lighten-2 top-icon" data-position="bottom" data-delay="50" data-tooltip="Редактировать профиль" href="{% url 'update' client.id %}">
                                    <i class="material-icons small" id="edit_{{ client.id }}">mode_edit</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if clients.has_previous %}
                <a href="?page={{ clients.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ clients.number }} of {{ clients.paginator.num_pages }}.
            </span>
            {% if clients.has_next %}
                <a href="?page={{ clients.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    <!-- Кнопка вызова модального окна добавления нового клиента -->
    <a class="btn-floating btn-large waves-effect waves-light red add-client tooltipped modal-trigger"
       data-position="top" data-delay="50" data-tooltip="Создать профиль клиента" href="{% url 'update' %}">
        <i class="material-icons">person_add</i>
    </a>
{% endblock body %}