{% extends "flatlease/template.html" %}
{% load staticfiles %}
{% block meta %}
{% endblock meta %}
{% block menu_name %}
    Поиск
{% endblock menu_name %}
{% block body %}
<main class="mdl-layout__content">
    <div class="page-content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col center-content">
                <form action="{% url 'search' %}" role="form" method="post">
                    {% csrf_token %}
                    <div class="mdl-textfield mdl-js-textfield searchfield">
                        {{ form.search }}
                    </div>
                    {{ form.non_field_errors }}
                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" type="submit">
                        <i class="material-icons">search</i>
                    </button>
                </form>
            </div>
        </div>
        <div class="mdl-grid">
            {% for client in clients %}
                <div class="mdl-cell mdl-cell--3-col mdl-shadow--2dp client-card">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">{{ client.last_name }} {{ client.name }}
                            <br> {{ client.second_name }}</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Дата регистрации {{ client.pub_date }} <br>
                        День рождения: {{ client.birthday }} <br>
                        Адрес: {{ client.residence }} <br>
                        Телефон: {{ client.phone }} <br>
                        Депозит: {{ client.deposit }} <br>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect turn more"></a>
                        <a href="{% url 'update_id' client.id %}">
                            <i class="material-icons edit-icon" id="edit_{{ client.id }}">mode_edit</i>
                        </a>
                        <label class="mdl-tooltip" for="edit_{{ client.id }}">Редактировать</label>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock body %}