<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% load staticfiles %}
    {% block meta %}
    {% endblock meta %}
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
    <script src="{% static 'flatlease/script/main.js' %}"></script>
    <link href="{% static 'flatlease/style/main.css' %}" rel="stylesheet">
    <title></title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <ul class="right" for="menu-lower-right">
                    <li>
                        {% if user.is_authenticated %}
                            <ul id="dropdown-log" class="dropdown-content">
                                <li><a href="admin/">Администрирование</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'logout' %}">Выйти</a></li>
                            </ul>
                            <a class="tooltipped dropdown-button" href="#!" data-activates="dropdown-log" data-position="bottom" data-delay="50" data-tooltip="Пользователь">
                                <i class="material-icons right">more_vert</i>
                                {% if user.last_name or user.first_name %}
                                    {{ user.first_name }} {{ user.last_name }}
                                {% else %}
                                    {{ user.username }}
                                {% endif %}
                            </a>
                        {% else %}
                            <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Войти" href="{% url 'login' %}">
                                <i class="material-icons">exit_to_app</i>
                            </a>
                        {% endif %}
                    </li>
                </ul>
                <a href="#" data-activates="slide-out" class="button-collapse">
                    <i class="mdi-navigation-menu"></i>
                </a>
                <span class="brand-logo center">{% block menu_name %}{% endblock menu_name %}</span>
            </div>
        </nav>
        <ul id="nav-mobile" class="side-nav fixed right hide-on-med-and-down">
            <a href="http://www.hors-invest.ru/"><img class="responsive-img" src="{% static 'flatlease/images/logo.png' %}"></a>
            <a href="#" class="brand-logo center red-text">
                <p><b>Жилищная программа</b></p>
            </a>
            <li><a class="" href="{% url 'calculator' %}">Калькулятор</a></li>
            <li><a class="" href="{% url 'addition' %}">Создание профиля</a></li>
            <li><a class="" href="{% url 'search' %}">Поиск клиента</a></li>
            <li><a class="" href="{% url 'statistics' %}">Статистика</a></li>
        </ul>
        <ul id="slide-out" class="side-nav">
            <a href="#" class="brand-logo">
                ЖилЛизинг
            </a>
            <li><a class="" href="{% url 'calculator' %}">Калькулятор</a></li>
            <li><a class="" href="{% url 'addition' %}">Добавление</a></li>
            <li><a class="" href="{% url 'search' %}">Поиск</a></li>
            <li><a class="" href="{% url 'statistics' %}">Статистика</a></li>
        </ul>
    </header>
    <main>
        {% block body %}
        {% endblock body %}
    </main>
</body>
</html>