/*display card on center*/
.center-content{
    display: flex;
    justify-content: center;
}

/*spase between columns in forms*/
input.mdl-textfield__input{
    width: 95%;
}

/*center align and size for search field on search page*/
div.searchfield{
    display: inline-flex;
    /*width: 30%;*/
}

/*show up menu-icon*/
div.mdl-layout__drawer-button.burger{
    color: #757575;
}

/*alignment for right card-button*/
.linktoadd,
.edit-icon{
    float: right;
    margin-right: 2%;
}

/*toggle turn button*/
.more:before{
    content: 'Развернуть';
}
.less:before{
    content: 'Свернуть';
}

/*for center-container*/
.center-content{
    display: flex;
    justify-content: center;
}
.mdl-card__subtitle-text{
    text-align: center;
}



