{% extends "base/template.html" %}
{% load staticfiles %}
{% block meta %}
{% endblock meta %}
{% block menu_name %}
    {{ car.model.brand }} {{ car.model }}
{% endblock menu_name %}
{% block body %}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h1 class="card-title">
                        Данные автомобиля
                    </h1>
                    <div class="row">
                        <div class="col l4 m3 s12">
                            {% if car.photo %}
                                <img src="{{ car.photo.url }}" width="100%" height="auto">
                            {% else %}
                                <img src="{% static 'base/images/userPlaceholder.png' %}" width="100%" height="auto">
                            {% endif %}
                        </div>
                        <table class="col l8 m9 s12">
                            <thead>
                            <tr>
                                <th>Владелец</th>
                                <th>{{ car.owner }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Модель</td>
                                <td>{{ car.model.brand }} {{ car.model }}</td>
                            </tr>
                            <tr>
                                <td>Цвет</td>
                                <td>{{ car.color }}</td>
                            </tr>
                            <tr>
                                <td>Дата производства</td>
                                <td>{{ car.man_date }}</td>
                            </tr>
                            <tr>
                                <td>Пробег</td>
                                <td>{{ car.mileage }}</td>
                            </tr>
                            <tr>
                                <td>Комментарий</td>
                                <td>{{ car.comment }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-action">
                    <a class="modal-trigger btn waves-effect waves-light white-text"
                       href="{% url 'car:update' car.id %}">Редактировать</a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}