{% extends "base/template.html" %}
{% load staticfiles %}
{% block meta %}
{% endblock meta %}
{% block menu_name %}
    Поиск автомобилей
{% endblock menu_name %}
{% block body %}
    <div class="container">
        <div class="row">
            <form action="{% url 'car:search' %}" role="form" method="get">
                <div class="col l11 m11 s10">
                    {{ search_form.non_field_errors }}
                    {{ search_form.search }}
                    {{ search_form.search.errors }}
                </div>
                <div class="col l1 m1 s2 search-btn">
                    <button class="btn-floating waves-effect waves-light black-text tooltipped" data-tooltip="Искать" type="submit">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        {% if cars %}
            <div class="row">
                <table class="striped highlight">
                    <thead>
                    <tr>
                        <th>Бренд</th>
                        <th>Модель</th>
                        <th>Дата выпуска</th>
                        <th>Пробег</th>
                        <th>Цвет</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for car in cars %}
                        <tr>
                            <td>{{ car.model.brand }}</td>
                            <td><a href="{% url 'car:car_page' car.id %}">{{ car.model }}</a></td>
                            <td>{{ car.man_date }}</td>
                            <td>{{ car.mileage }}</td>
                            <td><div class="color-div" style="background:{{ car.color }};"></div></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h5 class="center">Нет автомобилей для отображения</h5>
        {% endif %}
    </div>
    <!-- Кнопка добавления автомобиля -->
    <div class="fixed-action-btn" style="bottom: 45px; right: 40px;">
        <a class="btn-floating btn-large red lighten-1 tooltipped"
           data-position="top" data-delay="50" data-tooltip="Добавить автомобиль" href="{% url 'car:add' %}">
            <i class="material-icons">add</i>
        </a>
    </div>
{% endblock body %}